<app-navbar></app-navbar>
<div class="container">
    <form action="POST" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <label for="uname">
            Username <br>
            <input type="text" name="uname" id="uname" formControlName="username" required>
        </label><br><br>
        <label for="pwd">Password <br>
            <input type="password" name="pwd" id="pwd" formControlName="password" required>
        </label><br><br>
        
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>