.container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 300px;
    font-size: 1.2rem;
}

input {
    padding: 5px 10px;
    font-size: 1.1rem;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
}

button, select {
    padding: 10px 15px;
    width: 150px;
    background: none;
    font-size: 1rem;
    outline: none;
    background-color: black;
    border: 2px solid black;
    color: whitesmoke;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover, .custom-button:hover {
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    cursor: pointer;
}

input[type='file'] {
    display: none;
}

.custom-button {
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: black;
    font-size: 1rem;
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

.back-button {
    position: fixed;
    width: 80px;
    margin-left: 20px;
}

.logout-button {
    position: fixed;
    width: 80px;
    right: 20px;
}