<app-navbar></app-navbar>
<div class="container">
    <form action="POST" [formGroup]="dataForm" (ngSubmit)="handleUpload()">
        <label for="time">
            Period <br>
            <input type="number" min="1" name="time" id="time" formControlName="time" required>
        </label>
        <label for="dwmy">
            Select days, weeks, etc. <br>
            <select name="dwmy" id="dwmy" formControlName="dwmy" required>
                <option *ngFor="let item of items" [ngValue]="item">
                    {{ item }}
                </option>
            </select>
        </label>
        <label for="file" class="custom-button">{{ fileName }}<br>
            <input type="file" accept=".csv,.xls,.xlsx" name="file" id="file" (change)="onChange($event)" [type]="" required>
        </label>
        <span><button type="submit" [disabled]="!dataForm.valid">Predict sales</button> for {{ dataForm.value.time + " " + dataForm.value.dwmy }}</span>
    </form>
</div>